body {
    background-color: rgba(146, 216, 146, 0.829);
}
#funcionamento {
    font-style: italic;
}

#criar-tarefa {
    background-color: rgb(112, 147, 245);
    border-radius: 15%;
    color: white;
}